.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.telaLogin--backgroundImage{
  background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/3679b63e-5d92-47a1-96ec-b26d86fc0f0a/b15d4f67-d3f3-4210-9cd4-8b02babf6eea/BR-pt-20211213-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
  
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center, center;
  display: flex;
  justify-content: center;
  align-items: center;
}
